[Unit]
Description=chat_with_ava_backend

[Service]
ExecStart=/usr/bin/python3 /home/ubuntu/backend/app.py
User=ubuntu
WorkingDirectory=/home/ubuntu/backend
Environment=HTTP_PROXY="http://127.0.0.1:7890/"
Environment=HTTPS_PROXY="http://127.0.0.1:7890/"

[Install]
WantedBy=multi-user.target
